<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="/css/Style.css" rel="stylesheet">
    <style>
        .hidden-body {
            display: none;
        }
        .ui-menu {
            background-color: rgb(98, 179, 230);
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .ui-menu a, .ui-menu button {
            color: white;
            margin-left: 10px;
            text-decoration: none;
            cursor: pointer;
        }
        .ui-menu a:hover, .ui-menu button:hover {
            background-color: red;
        }
    </style>
    <meta charset="UTF-8">
    <title>Weather Analysis</title>
</head>
<body class="hidden-body" id="page_content" style="text-align: center;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Weather Analysis</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <button class="btn btn-outline-light forGuest"  id="loginButton">Login</button>
            <button class="btn btn-outline-light forAdmin"  id="logOutButton">Logout</button>

        </div>
    </div>
</nav>

<div class="bg-image" style="background-image: url('/background.jpg'); height: 94.1vh;

  background-size: cover;">

    <div class="mask" style="background-color:  rgba(0,0,0, 0.6); height: 94.1vh;">
        <br>
        <div id="alertContainer">

        </div>
        <div class=" text-center  text-white" style="margin-left: 25vh; margin-right: 25vh; margin-top: 20vh;">
            <h1>Welcome to Weather Analysis</h1>
            <br>
            <h4>This site displays weather statistics from the region of <strong>Attica, Greece</strong>. The statistics were collected from <strong>May 18</strong> to <strong>27 of 2023</strong>.</h4>
            <br>
            <p>The statistics are derived from data collected from various Android devices. The data includes standard weather data as well as information from the phone itself, such as phone temperature estimation and whether the phone was in the pocket at the time of data retrieval. The data is retrieved periodically in the background. The temperature is measured in Celsius, and air pressure is measured in hPa (hectopascals).</p>
            <br>
            <button class="btn btn-outline-light" id="goMainStats"  >See Weather Statistics</button>
            <br>
            <br>
            <p class="forAdmin">As an admin, you can press the button below to create/refresh the dataset for the weather statistics.</p>
            <p class="forAdmin">Once you pressed it, please remain in the page until you see a positive message.</p>
            <br>
            <button class="btn btn-outline-light forAdmin " id="startDataPreprocessing" style="margin: 0 auto;">Create - Refresh Dataset for Statistics</button>
        </div>
    </div>

</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script type="module">
    import {auth} from '/js/FirebaseFunctions.js'
    import {hostURL} from '/js/MyFunctions.js'



    let disabled = false;
    const startDataPreprocessingButton = document.getElementById("startDataPreprocessing");
    const alertContainment = document.getElementById('alertContainer');

    startDataPreprocessingButton.addEventListener('click', startDataPreprocessing);
    function startDataPreprocessing(){

        if(!disabled){
            disabled = true;
            startDataPreprocessingButton.classList.add('disabled');


            const user = auth.currentUser;
            if(user){

                user.getIdToken().then((idToken) =>{


                    const endpoint = hostURL+"/startDataPreprocessing";
                    //sendAuthRequest(endpoint, null, "GET", idToken);
                    fetch(endpoint, {
                        method: "GET",
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": "Bearer "+idToken
                        }
                    })
                        .then((response) => {
                            if (response.ok) {
                                // Successful response (status 200)

                                disabled = false;
                                startDataPreprocessingButton.classList.remove('disabled');
                                showAlert('alert-success', '<Strong>Success</Strong>')

                                //location.replace(hostURL+"/mainStats");
                            } else {
                                disabled = false;
                                startDataPreprocessingButton.classList.remove('disabled');
                                const message =  "<Strong>Error! Please try again later!</Strong>";

                                showAlert('alert-danger', message);
                                // Handle error response if needed
                                // ...
                                //alert("ERROR");
                            }
                        })
                        .catch((error) => {
                            disabled = false;
                            startDataPreprocessingButton.classList.remove('disabled');
                            const message ="<Strong>"+error.message+"! Please try again later!</Strong>";
                            showAlert('alert-danger', message);
                            //alert(error.message+"\nPlease try again later!");
                            // Handle any network or request error
                            // ...
                        });
                }).catch((error) =>{
                    disabled = false;
                    startDataPreprocessingButton.classList.remove('disabled');
                    const message = "<Strong>Did not take token</Strong>";
                    showAlert('alert-danger', message);

                    //alert("did not take token");
                });
            }else{
                disabled = false;
                startDataPreprocessingButton.classList.remove('disabled');
                const message = "<Strong>No user found</Strong>>";
                showAlert('alert-danger', message);
                //alert("no user");
            }
        }

    }
    const goMainStatsButton = document.getElementById("goMainStats");
    goMainStatsButton.addEventListener('click', ()=>{
        location.replace(hostURL+"/mainStats");
    });
    function showAlert(type, message){

        startDataPreprocessingButton.classList.remove('disabled');

            if(document.getElementById('startDataPreprocessing-error')){
                alertContainment.removeChild(document.getElementById('startDataPreprocessing-error'));
            }
            const errorDiv = document.createElement('div');
            errorDiv.className = 'alert '+type+' alert-dismissible fade show center';
            errorDiv.id = 'startDataPreprocessing-error';
            errorDiv.style.display  = 'none';
            errorDiv.style.width = 'fit-content';
            errorDiv.style.margin = 'auto';
            errorDiv.innerHTML = message+"<button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"alert\" aria-label=\"Close\"></button>";
            alertContainment.appendChild(errorDiv);


        errorDiv.style.display = 'flex';
    }
</script>
</body>
</html>
